.main___container {

    display: flex;
    flex-direction: column;
    align-items: center;

    .ret {
        margin: 20px;
    }
    .booksContainer {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 10px;
        grid-auto-flow: row;

        width: 900px;
        height: 900px;

        .bookCard {
            background-color: rgba(255, 255, 255, 0.8);
            border: 1px solid rgba(0, 0, 0, 0.8);
            text-align: center;
            width: 135px;
            border: 1px solid;

            &:hover {
                cursor: pointer;
                background-color: rgba(218, 136, 136, 0.774);
            }

            &.label-active {

                background: rgba(169, 209, 241, 0.692);
            }

            &:hover {
                background: rgba(169, 209, 241, 0.692);

            }
        }
    }
}