.main___container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    .searchBox {
        margin: 20px;
    }

    .booksContainer {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(135px, 1fr));
        justify-items: center;
        grid-gap: 15px;
        grid-auto-flow: row;
        overflow-y: auto;
        width: 90%;
        height: 100%;

        .bookCard {
            background-color: rgba(255, 255, 255, 0.8);
            padding: 0px;
            text-align: center;
            width: 135px;

            &:hover {
                cursor: pointer;
                background-color: rgba(218, 136, 136, 0.774);
            }

            &.label-active {

                background: rgba(169, 209, 241, 0.692);
            }

            &:hover {
                background: rgba(169, 209, 241, 0.692);

            }

            .title {
                text-align: left;
                font-size: 13px;
                margin-top: 5px;
            }
        }
    }
}