<div class="main___container">
  <h1>Browse Books</h1>
  <div class="searchBox">

    <input type="text" [formControl]="searchField">
    <button mat-button (click)="getBooks()">Search </button>
  </div>
  <div class="booksContainer">

    <div *ngFor="let book of books.items;let i=index" [class.label-active]="checked[i]" class="bookCard">
      <img (click)="selectBooks($event,book,i)" src="{{book.volumeInfo.imageLinks.thumbnail}}" alt="">
      <div class="title">{{book.volumeInfo.title}}</div>
      <!-- <div class="author">{{book.volumeInfo.authors[0]}}</div> -->
      <div class="date">{{book.volumeInfo.publishedDate}}</div>
    </div>

  </div>
</div>